@import('..')

font-face("balls")
font-face("Roboto", "Roboto-Thin", "fonts/Roboto", 100, "normal", "swap")
font-face-inline("parts")
font-face-inline("fontawesome-webfont")
font-face-inline("Roboto", "Roboto-Thin", "fonts/Roboto", 100)
font-face-inline("Roboto", "Roboto-Light", "fonts/Roboto", 300)
font-face-inline("Roboto", "Roboto-Regular", "font/sRoboto", 400)
font-face-inline("Roboto", "Roboto-Medium", "fonts/Roboto", 500)
font-face-inline("Roboto", "Roboto-Bold", "fonts/Roboto", 700)

[class^="part-"],
[class*=" part-"],
[class^="ball-"],
[class*=" ball-"]
  speak none
  font-style normal
  font-weight normal
  font-variant normal
  text-transform none
  line-height 1
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

[class^="part-"],
[class*=" part-"]
  font-family: 'parts'

.part-cd:before
  content "\e600"
.part-mouse:before
  content "\e601"
.part-floppy:before
  content "\e602"

[class^="ball-"],
[class*=" ball-"]
  font-family: 'balls'

.ball-basketball:before
  content "\e600"
.ball-football:before
  content "\e601"
.ball-americanfootball:before
  content "\e602"

[class^="fa-"],
[class*=" fa-"]
  font-family: 'fontawesome-webfont'

.fa-glass:before
  content "\f000"
.fa-music:before
  content "\f001"
.fa-search:before
  content "\f002"


body
  font-size 400%
  padding 1em

  div
    padding 1em

  .balls
    color green
  .parts
    color blue
  .roboto
    font-family 'Roboto'
    .roboto-thin
      font-weight 100
    .roboto-light
      font-weight 300
    .roboto-regular
      font-weight 400
    .roboto-medium
      font-weight 500
    .roboto-bold
      font-weight 700